.stories{
    padding: 140px 0;
    background-image: url("../../img/stories-left.svg"),
    url("../../img/stories-right.svg");
    background-position: left top, right bottom;
    background-repeat: no-repeat;
}   
.stories__title{
    color: #FFF;
    text-align: center;
    font-family: Livvic;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; /* 100% */
    min-width: 932px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 56px;
}
.stories__item{
    max-width: 350px;
    text-align: center;
}
.stories__text{
    color: #FFF;
    text-align: center;
    margin-bottom: 24px;
    font-family: Livvic;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px; /* 166.667% */
}
.stories__user_block{
    align-items: center;
}
.stories__list{
    display: flex;
    justify-content: space-between;
}
.user_block__name{
    color: #79C8C7;
    text-align: center;
    font-family: Livvic;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 155.556% */
}
.user_block__job{
    color: #FFF;
    text-align: center;
    font-family: Livvic;
    font-size: 13px;
    font-style: italic;
    font-weight: 500;
    line-height: 18px; /* 138.462% */
    margin-bottom: 32px;
}
.user_block__img{
    width: 62px;
    margin-left: auto;
    margin-right: auto;
}